{% extends "templates/web.html" %}

{% block page_content %}
<style>
    body {
        background: url('https://preview.redd.it/thanks-i-hate-peppa-pig-jigsaw-puzzle-v0-uf2aoqn5yfna1.jpg?width=1080&crop=smart&auto=webp&s=219ceb0834541801c7ade0c2c6adaeebc4b20533') no-repeat center center fixed;
        background-size: cover;
        color: green; 
        text-shadow: 1px 1px 2px purple; 
    }
    
</style>
<h1 style="color: green;">Welcome Sir Attie</h1>
<input type="text" placeholder="Enter Your Name">
<h2 style="color: pink;">Sire Michael has awaited your arrival</h2>
{% endblock %}




